*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.mus{
    background-color: rgba(249, 167, 49, 1);
}
.mus2{
    color: rgba(249, 167, 49, 1);
}

 

 .mm {
    opacity: 1;
    transition: opacity 1s ease-in-out;  
  }
  
  .invisible {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 1s ease-in-out;  
  }

  .hid{
    display: none;
  }

  .search-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    padding: 80px;
  }
 

 