*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mus{
    background-color: rgba(249, 167, 49, 1);
}
.mus2{
    color: rgba(249, 167, 49, 1);
}

 

 .mm {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Add this line */
  }
  
  .invisible {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out; /* Add this line */
  }
 

 